*{
   margin:0;
   padding: 0;
}
:root{
    --cor-fundo: rgb(0, 40, 142);
    --cor-fontes:#ffffff;
}
.cabecalho{
    background-color: var(--cor-fundo);
    color: var(--cor-fontes);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecalho{
width: 10%;    
}
.item-lista-cabecalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#ffffff, #fffffff4) ;
    color: #000;
    display: flex;
    align-items: center;
    padding: 20px 0;
} 
.escola-div-conteudo{
    width: ;
}
